* {background-color: rgb(235, 244, 244);
}


.home-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(9, 78, 55);
  }
  
  .subtitle {
    font-size: 18px;
    color: #60824f;
    margin-bottom: 20px;
  }
  
  .view-more-btn {
    background-color:  #095324;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .view-more-btn:hover {
    background-color:  #176d26;
  }
  